@model EASNSMVC4.Models.Staff

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Staff</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.First)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.First)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Middle)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Middle)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Last)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Last)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Position)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Position)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Campus)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Campus)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Avatar)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Avatar)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Desc)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Desc)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
