@using EASNSMVC4.Models
@model IEnumerable<EASNSMVC4.Models.UserProfile>
@{
    ViewBag.Title = "RepResource";
}
@if(User.IsInRole("Admin"))
{
    <h2 style="text-align: center;">Top <span style="color: #0094ff"><b>3</b></span> Most User Active Cities</h2>

    <table style="margin: 0 auto;">
        <tr style="border-bottom: solid 1px black;">
            <td><b>City</b></td>
            <td><b>Number of Users</b></td>
        </tr>

            <tr>
                <td>
                    @ViewBag.UseCity1
                </td>
                <td>
                    @ViewBag.City1Count
                </td>
            </tr>

        <tr>
            <td>
                @ViewBag.UseCity2
            </td>
            <td>
                @ViewBag.City2Count
            </td>
        </tr>

        <tr>
            <td>
                @ViewBag.UseCity3
            </td>
            <td>
                @ViewBag.City3Count
            </td>
        </tr>
    </table>
    
    <br /><br />
    @Html.ActionLink("Top City!", "RepUserCities1") @:| @Html.ActionLink("Top 5 Cities", "RepUserCities5")
    <br /><br />

    @Html.ActionLink("Return to Reporting", "Index", "Reporting")
}