@model EASNSMVC4.Models.InventoryResource
@using EASNSMVC4.Models
@{
    ViewBag.Title = "Inventory Resource Details";
}
<link href="~/Content/Details.css" rel="stylesheet" />

@if (User.IsInRole("Admin"))
{
    <h2>Details for <span>@Html.DisplayTextFor(model => model.Title)</span></h2>
    using (Html.BeginForm())
    {
        <fieldset>

            <div class="user-left">
                <span>@Html.DisplayNameFor(model => model.Title)</span>
                <br />
                @Html.DisplayFor(model => model.Title)
            </div>

            <div class="user-right">
                <span>@Html.DisplayNameFor(model => model.InventoryType.Name)</span>
                <br />
                @Html.DisplayFor(model => model.InventoryType.Name)
            </div>

            <div class="user-left">
                <span>@Html.DisplayNameFor(model => model.FilePath)</span>
                <br />
                @Html.DisplayFor(model => model.FilePath)
            </div>

            <div class="user-right">
                <span>@Html.DisplayNameFor(model => model.Tags)</span>
                <br />
                @Html.DisplayFor(model => model.Tags)
            </div>

            <div class="user-left">
                <span>@Html.DisplayNameFor(model => model.FileType.Desc)</span>
                <br />
                @Html.DisplayFor(model => model.FileType.Desc)
            </div>

            <div class="user-right">
                <span>@Html.DisplayNameFor(model => model.Desc)</span>
                <br />
                @Html.DisplayFor(model => model.Desc)
            </div>
        </fieldset>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) 
            @Html.ActionLink("Back to List", "Index")
        </p>
       }
}